In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
# Replace 'your_dataset.csv' with the actual filename of your dataset
data = pd.read_csv('C://Users//92300/Desktop//AAPL.csv')

# Assuming you have already processed and prepared the data, extract features and target variable
X = data.drop(['Date', 'Close'], axis=1)
y = data['Close']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [3]:
data.head(10)

         Date      Open      High       Low     Close  Adj Close     Volume
0  1980-12-12  0.128348  0.128906  0.128348  0.128348   0.100178  469033600
1  1980-12-15  0.122210  0.122210  0.121652  0.121652   0.094952  175884800
2  1980-12-16  0.113281  0.113281  0.112723  0.112723   0.087983  105728000
3  1980-12-17  0.115513  0.116071  0.115513  0.115513   0.090160   86441600
4  1980-12-18  0.118862  0.119420  0.118862  0.118862   0.092774   73449600
5  1980-12-19  0.126116  0.126674  0.126116  0.126116   0.098436   48630400
6  1980-12-22  0.132254  0.132813  0.132254  0.132254   0.103227   37363200
7  1980-12-23  0.137835  0.138393  0.137835  0.137835   0.107583   46950400
8  1980-12-24  0.145089  0.145647  0.145089  0.145089   0.113245   48003200
9  1980-12-26  0.158482  0.159040  0.158482  0.158482   0.123699   55574400

In [4]:
# Create the XGBoost regressor
model = xgb.XGBRegressor()

# Train the model on the training data
model.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [5]:
# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate the root mean squared error (RMSE) to evaluate the model's performance
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")

Root Mean Squared Error (RMSE): 0.21

In [12]:
# Assuming you have a new data point 'new_data' for prediction
new_data = pd.DataFrame({'Open': [0.122210], 'High':[0.2], 'Low':[0.1], 'Adj Close':[0.087],'Volume': [175884800]})
predicted_price = model.predict(new_data)
print(f"Predicted stock price: {predicted_price[0]:.2f}")

Predicted stock price: 0.21